<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://www.researchgate.net/profile/Maryani-Maryani-2/publication/327056848/figure/fig1/AS:662008223502336@1534846468549/Map-of-Yogyakarta-13.png" />
  <ion-card>
    <ion-card-content>
      <p>Address: Sleman, 55748</p>
      <p>Complement: Sleman</p>
      <p>Neighborhood: Neighborhood</p>
      <p>Zip code: 55748</p>
      <p>City name - Sleman</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="tertiary" (click)="newPickupCall()">Create pickup call</ion-button>
</ion-content>
